{% include '/Parts/header.html.twig' %}

<div class="jumbotron">
    <h1 class="text-center">404</h1>
    <hr class="my-4">

    <div class="text-center">
        <a href="/">Go to main site</a>
    </div>
</div>

{% include '/Parts/footer.html.twig' %}
