{% include '/Parts/header.html.twig' %}

<div class="jumbotron">
    <h1 class="text-center">500</h1>
    <h3 class="text-center">{{ info }}</h3>
    <hr class="my-4">


    <div class="text-center">
        <a href="/">Go to main site</a>
    </div>
</div>

{% include '/Parts/footer.html.twig' %}
