{% include '/Parts/header.html.twig' %}

<div class="jumbotron">
    <h1 class="text-center">{{ header }}</h1>
    <hr class="my-4">

    <div class="container">
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-label">
                <div class="row">
                    <div class="col-6">
                        <label id="uploadFileLabel1" for="file">Select csv file to upload:</label>
                    </div>
                    <div class="col-6">
                        <label class="btn btn-upload text-uppercase float-right">
                            Browse <input id="fileToUpload" type="file" name="fileToUpload" onchange="" hidden="">
                        </label>
                        <span class="label label-info" id="upload-file-info"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <input id="uploadCsvBtn" class="d-none btn btn-primary btn-lg w-100" type="submit" value="Upload" name="submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include '/Parts/footer.html.twig' %}
