{% include '/Parts/header.html.twig' %}

<div class="jumbotron text-center">
    <h2>Uploaded file name: {{ fileName }}</h2>
    <hr class="my-4">
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in csv %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ item['name'] }}</td>
                            <td>{{ item['sum'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center py-2">
            <h3>OR</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ link }}" class="btn btn-primary btn-lg w-100">Download</a>
        </div>
    </div>
</div>

{% include '/Parts/footer.html.twig' %}
