.btn-upload {
    background: #007bff;
    border: 1px solid #007bff;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.btn {
    border-radius: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
